
# Created by https://www.toptal.com/developers/gitignore/api/matlab
# Edit at https://www.toptal.com/developers/gitignore?templates=matlab

### MATLAB ###
# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Octave session info
octave-workspace

